body{
  padding: 0;
  margin: 0;
  height: 100vh;
}
.container{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 10px; */
  border: 5px solid red;
  width: 30%;
  height: 70%;
}
.gameboard div{
  border: 1px solid red;
  cursor: pointer;
}

